@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.magic {
  background-color: #f9ca24;
  color: #fff;
  font-family: "Poppins", sans-serif;
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  padding: 12px 20px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  letter-spacing: 1px;
  /* X offset (0), Y offset (3px) */
  box-shadow: 0 3px rgba(249, 202, 36, 0.5);
  z-index: 100;
}

.magic:focus {
  outline: none;
}

.magic:active {
  box-shadow: none;
  /* +2px will translate down */
  transform: translateY(2px);
}

/* container */
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 500px;
  width: 500px;
  position: relative;
  /* add transition so rotation is smooth */
  transition: 0.4s ease;
}

/* increase width and height to 600 if has class of big */
.boxes.big {
  width: 600px;
  height: 600px;
}

/* adding rotation animation */
.boxes.big .box {
  transform: rotateZ(360deg);
}

/* individual box */
.box {
  background-image: url("https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif");
  background-repeat: no-repeat;
  /* setting to size of initial container (500px) */
  /* change position using JS to show one big image */
  background-size: 500px 500px;
  position: relative;
  /* 1/4 * 500 (container width) */
  height: 125px;
  width: 125px;
  /* this controls the rotation animation speed */
  transition: 0.4s ease;
}

/* creating 3D background of images */
.box::after {
  /* need to include empty content value
  Consider this an invisible element */
  content: "";
  background-color: #f6e58d;
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}

.box::before {
  content: "";
  background-color: #f9ca24;
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}
